<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>#PatchAPIC</key>
		<false/>
		<key>#ResetAddress</key>
		<string>0x64</string>
		<key>#ResetValue</key>
		<string>0xFE</string>
		<key>#SortedOrder</key>
		<array>
			<string>SSDT-3.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
		</array>
		<key>#smartUPS</key>
		<false/>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>#Rtc8Allowed</key>
			<false/>
			<key>#SuspendOverride</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<true/>
				<key>FakeLPC</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDarwin</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixFirewire</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixIDE</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<false/>
				<key>FixRegions</key>
				<false/>
				<key>FixS3D</key>
				<false/>
				<key>FixSATA</key>
				<true/>
				<key>FixSBUS</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Rename XHCI to XHC_</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>core/thread count = 24 for 8P+8E Core i9</string>
					<key>Count</key>
					<integer>2</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>uTUAAAAPMg==</data>
					<key>Replace</key>
					<data>uBgAGAAx0g==</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RTC._STA Rename</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>eQAUFV9TVEE=</data>
					<key>Replace</key>
					<data>eQAUFVhTVEE=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>TIMR IRQ 0</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>IgEAeQA=</data>
					<key>Replace</key>
					<data>IgAAeQA=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IPIC IRQ 2</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>IgQAeQA=</data>
					<key>Replace</key>
					<data>IgAAeQA=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RTC IRQ 8</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>IgABeQA=</data>
					<key>Replace</key>
					<data>IgAAeQA=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GPRW to XPRW</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Name6D-03 to 00</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>Cm0KAw==</data>
					<key>Replace</key>
					<data>Cm0KAA==</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Name6D-04 to 00</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>Cm0KBA==</data>
					<key>Replace</key>
					<data>Cm0KAA==</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ADBG to XDBG</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QwMUGUFEQkc=</data>
					<key>Replace</key>
					<data>QwMUGVhEQkc=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK to ZWAK(1,S)</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK to ZWAK(1,N)</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PTS to ZPTS(1,S)</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X1BUUwk=</data>
					<key>Replace</key>
					<data>WlBUUwk=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PTS to ZPTS(1,N)</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
			<key>Rtc8Allowed</key>
			<true/>
		</dict>
		<key>DisableASPM</key>
		<false/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>xh_rps14</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>#C3Latency</key>
			<string>0x03E7</string>
			<key>#DoubleFirstState</key>
			<true/>
			<key>#DropOem</key>
			<true/>
			<key>#EnableC2</key>
			<false/>
			<key>#EnableC4</key>
			<false/>
			<key>#EnableC6</key>
			<true/>
			<key>#EnableC7</key>
			<false/>
			<key>#MaxMultiplier</key>
			<integer>12</integer>
			<key>#MinMultiplier</key>
			<integer>8</integer>
			<key>#NoDynamicExtract</key>
			<false/>
			<key>#NoOemTableId</key>
			<false/>
			<key>#PLimitDict</key>
			<integer>1</integer>
			<key>#PluginType</key>
			<integer>0</integer>
			<key>#UnderVoltStep</key>
			<integer>1</integer>
			<key>#UseSystemIO</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>#APLF</key>
				<false/>
				<key>#APSN</key>
				<false/>
				<key>#PluginType</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>NoDynamicExtract</key>
			<true/>
			<key>NoOemTableId</key>
			<true/>
			<key>PluginType</key>
			<string>1</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>alcid=12 npci=0x3000 revcpu=1 revpatch=cpuname,sbvmm,diskread,pci ctrsmt=full -wegnoigpu keepsyms=1</string>
		<key>CustomLogo</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>StrictHibernate</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<integer>1</integer>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>#DefaultBackgroundColor</key>
		<string>0xF0F0F0</string>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>133330</integer>
		<key>#FrequencyMHz</key>
		<integer>3140</integer>
		<key>#HWPEnable</key>
		<true/>
		<key>#HWPValue</key>
		<string>0x30002a01</string>
		<key>#QPI</key>
		<integer>4800</integer>
		<key>#SavingMode</key>
		<integer>7</integer>
		<key>#TDP</key>
		<integer>95</integer>
		<key>#TurboDisable</key>
		<true/>
		<key>#UseARTFrequency</key>
		<true/>
		<key>HWPEnable</key>
		<false/>
		<key>Type</key>
		<string>0x0F01</string>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#DisableFunctions</key>
		<string>0x18F6</string>
		<key>#FakeID</key>
		<dict>
			<key>#ATI</key>
			<string>0x73BF1002</string>
			<key>#IMEI</key>
			<string>0x1e208086</string>
			<key>#IntelGFX</key>
			<string>0x01668086</string>
			<key>#LAN</key>
			<string>0x100E8086</string>
			<key>#NVidia</key>
			<string>0x11de10de</string>
			<key>#SATA</key>
			<string>0x26818086</string>
			<key>#WIFI</key>
			<string>0x0030168C</string>
			<key>#XHCI</key>
			<string>0x0</string>
		</dict>
		<key>#ForceHPET</key>
		<false/>
		<key>#IntelMaxValue</key>
		<string>0x710</string>
		<key>#NoDefaultProperties</key>
		<true/>
		<key>#Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>#Comment</key>
				<string>This is USB3.0</string>
				<key>AAPL,clock-id</key>
				<data>AA==</data>
				<key>AAPL,current-available</key>
				<data>sAQ=</data>
				<key>AAPL,current-extra</key>
				<data>vAI=</data>
				<key>AAPL,current-in-sleep</key>
				<data>6AM=</data>
				<key>built-in</key>
				<data>AA==</data>
				<key>device_type</key>
				<string>XHCI</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x19,0x0)</key>
			<dict>
				<key>built-in</key>
				<data>AQ==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1a,0x0)</key>
			<dict>
				<key>AAPL,clock-id</key>
				<data>AQ==</data>
				<key>AAPL,current-available</key>
				<data>sAQ=</data>
				<key>AAPL,current-extra</key>
				<data>vAI=</data>
				<key>AAPL,current-in-sleep</key>
				<data>6AM=</data>
				<key>built-in</key>
				<data>AA==</data>
				<key>device_type</key>
				<string>EHCI</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
			<dict>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1d,0x0)</key>
			<dict>
				<key>AAPL,clock-id</key>
				<data>Ag==</data>
				<key>AAPL,current-available</key>
				<data>sAQ=</data>
				<key>AAPL,current-extra</key>
				<data>vAI=</data>
				<key>AAPL,current-in-sleep</key>
				<data>6AM=</data>
				<key>built-in</key>
				<data>AA==</data>
				<key>device_type</key>
				<string>EHCI</string>
			</dict>
			<key>SecondaryGPU</key>
			<dict>
				<key>device-id</key>
				<data>/////w==</data>
			</dict>
		</dict>
		<key>#SetIntelBacklight</key>
		<false/>
		<key>#SetIntelMaxBacklight</key>
		<true/>
		<key>Audio</key>
		<dict>
			<key>#Inject</key>
			<string>12</string>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<string>Detect</string>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>HDMIInjection</key>
		<false/>
		<key>LANInjection</key>
		<false/>
		<key>NoDefaultProperties</key>
		<true/>
		<key>Properties</key>
		<dict>
			<key>##PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>ATY,Copyright</key>
				<string>AMD</string>
				<key>ATY,DeviceName</key>
				<string>RX 6900 XT</string>
				<key>ATY,FamilyName</key>
				<string>Radeon</string>
				<key>device-id</key>
				<data>v3MAAA==</data>
				<key>disable-agdc</key>
				<data>AQAAAA==</data>
				<key>model</key>
				<string>AMD RX 6900 XT</string>
			</dict>
			<key>##PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0/0,0/0,0/0,1</string>
				<key>compatible</key>
				<string>pci1002,ab28</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>model</key>
				<string>Navi 21/23 HDMI/DP Audio Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Raptor Lake PCI Express 5.0 Graphics Port (PEG010)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>CFG,CFG_USE_AGDC</key>
				<data>AA==</data>
				<key>disable-agdc</key>
				<data>AQAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,0</string>
				<key>compatible</key>
				<string>pci8086,7a60</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>Bluetooth Controler USB</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,2</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>RTL8125 2.5GbE Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>##compatible</key>
				<string>pci14e4,43a0</string>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4/0,0</string>
				<key>built-in</key>
				<data>AQ==</data>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>BCM4360 802.11ac Wireless Network Adapter</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Multimedia audio controller</string>
				<key>layout-id</key>
				<data>DAAAAA==</data>
				<key>model</key>
				<string>Realtek ALC897</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>#ConsoleMode</key>
		<string>0</string>
		<key>#Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Image</key>
					<string>os_mageia</string>
					<key>Path</key>
					<string>\EFI\MAGEIA\GRUBX64.efi</string>
					<key>Title</key>
					<string>Mageia Linux</string>
					<key>Type</key>
					<string>Linux</string>
				</dict>
				<dict>
					<key>AddArguments</key>
					<string>-v</string>
					<key>Arguments</key>
					<string>Kernel=mach_kernel</string>
					<key>Disabled</key>
					<true/>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>M</string>
					<key>InjectKexts</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Path</key>
					<string>\EFI\BOOT\BOOTX64.efi</string>
					<key>Title</key>
					<string>MyCustomEntry</string>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
				</dict>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>InjectKexts</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>SubEntries</key>
					<array>
						<dict>
							<key>AddArguments</key>
							<string>-v</string>
							<key>Title</key>
							<string>Boot OS X 10.8.5 (12F36) Mountain Lion in Verbose Mode</string>
						</dict>
					</array>
					<key>Title</key>
					<string>OS X 10.8.5 (12F36) Mountain Lion</string>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>454794AC-760D-46E8-8F77-D6EB23D2FD32</string>
				</dict>
			</array>
			<key>Legacy</key>
			<array>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>L</string>
					<key>Title</key>
					<string>MyLegacyEntry</string>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>89433CD3-21F2-4D3C-95FC-722C48066D3A</string>
				</dict>
			</array>
			<key>Tool</key>
			<array>
				<dict>
					<key>Arguments</key>
					<string>-b</string>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>S</string>
					<key>Path</key>
					<string>\EFI\CLOVER\TOOLS\Shell64-v1.efi</string>
					<key>Title</key>
					<string>MyCustomShell</string>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
				</dict>
			</array>
		</dict>
		<key>#CustomIcons</key>
		<false/>
		<key>#Hide</key>
		<array>
			<string>Windows</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>#KbdPrevLang</key>
		<false/>
		<key>#Language</key>
		<string>ru:0</string>
		<key>#Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>2</integer>
		</dict>
		<key>#Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>#TextOnly</key>
		<false/>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>macOs Ventura</string>
					<key>NoCaches</key>
					<false/>
					<key>Path</key>
					<string>\0A1F66B1-9FC8-4029-9CEC-DA548EFD90BC\System\Library\CoreServices\boot.efi</string>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>7A6F432B-B4EE-48CB-8FFE-87CA87503B8D</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>macOS Tahoe</string>
					<key>NoCaches</key>
					<false/>
					<key>Path</key>
					<string>\1A568D4C-0F60-458F-BDD9-D9C331EB3228\System\Library\CoreServices\boot.efi</string>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>E5DEF07D-BF2F-4D4C-8279-B788BDEE621E</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
			<string>Legacy</string>
		</array>
		<key>KbdPrevLang</key>
		<true/>
		<key>Language</key>
		<string>pt-BR:71</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>PlayAsync</key>
		<false/>
		<key>ProvideConsoleGop</key>
		<true/>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>3440x1440</string>
		<key>ShowOptimus</key>
		<true/>
		<key>Theme</key>
		<string>History</string>
		<key>Timezone</key>
		<integer>-3</integer>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#Connectors</key>
		<array/>
		<key>#DualLink</key>
		<integer>0</integer>
		<key>#FBName</key>
		<string>Makakakakala</string>
		<key>#Inject</key>
		<dict>
			<key>ATI</key>
			<true/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>#LoadVBios</key>
		<false/>
		<key>#NVCAP</key>
		<string>04000000000003000C0000000000000A00000000</string>
		<key>#NvidiaGeneric</key>
		<true/>
		<key>#NvidiaNoEFI</key>
		<false/>
		<key>#NvidiaSingle</key>
		<false/>
		<key>#PatchVBios</key>
		<false/>
		<key>#PatchVBiosBytes</key>
		<array>
			<dict>
				<key>Find</key>
				<data>gAeoAqAF</data>
				<key>Replace</key>
				<data>gAeoAjgE</data>
			</dict>
		</array>
		<key>#RadeonDeInit</key>
		<true/>
		<key>#VRAM</key>
		<integer>1024</integer>
		<key>#VideoPorts</key>
		<integer>2</integer>
		<key>#display-cfg</key>
		<string>03010300FFFF0001</string>
		<key>#ig-platform-id</key>
		<string>0x01620005</string>
		<key>EDID</key>
		<dict>
			<key>#Custom</key>
			<data>AP///////wAGECGSAAAAAAASAQOAIRV4CunVmVlTjigmUFQAAAABAQEBAQEBAQEBAQEBAQEB3iGgcFCEHzAgIFYAS88QAAAY3iGgcFCEHzAgIFYAS88QAAAAAAAA/gBXNjU3RwAxNTRXUDEKAAAA/gAjMz1IZYSq/wIBCiAgAJo=</data>
			<key>#HorizontalSyncPulseWidth</key>
			<string>0x11</string>
			<key>#Inject</key>
			<true/>
			<key>#ProductID</key>
			<string>0x9221</string>
			<key>#VendorID</key>
			<string>0x1006</string>
			<key>#VideoInputSignal</key>
			<string>0xA1</string>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>#ATIConnectorsController</key>
		<string>6000</string>
		<key>#ATIConnectorsData</key>
		<string>000400000403000000010000210302040400000014020000000100000000040310000000100000000001000000000001</string>
		<key>#ATIConnectorsPatch</key>
		<string>040000001402000000010000000004040004000004030000000100001102010500000000000000000000000000000000</string>
		<key>#BootPatches</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Example</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>MatchOS</key>
				<string>All</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
		</array>
		<key>#FakeCPUID</key>
		<string>0x010676</string>
		<key>#ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\AMD6000Controller.kext</string>
			<string>\System\Library\Extensions\AMDFramebuffer.kext</string>
		</array>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<false/>
		<key>BlockSkywalk</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>FakeCPUID</key>
		<string>0x0706E5</string>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Disable FileVault</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AAAAAAAA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MaskFind</key>
				<data>AAAAAAAA</data>
				<key>MatchOS</key>
				<string>26.x</string>
				<key>Name</key>
				<string>com.apple.filesystems.apfs</string>
				<key>Procedure</key>
				<string>_apfs_filevault_allowed</string>
				<key>Replace</key>
				<data>uAAAAADD</data>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DevirtualiseMmio</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<false/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>ForceOcWriteFlash</key>
		<false/>
		<key>FuzzyMatch</key>
		<false/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>ProtectUefiServices</key>
		<true/>
		<key>ProvideCurrentCpuInfo</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>RebuildAppleMemoryMap</key>
		<true/>
		<key>ResizeAppleGpuBars</key>
		<integer>-1</integer>
		<key>ResizeGpuBars</key>
		<integer>-1</integer>
		<key>SetupVirtualMap</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>TscSyncTimeout</key>
		<integer>0</integer>
		<key>XhciPortLimit</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x803</string>
		<key>HWTarget</key>
		<string>J160AP</string>
		<key>MLB</key>
		<string>C02038101J90000UE</string>
		<key>ROM</key>
		<data>HFzypufb</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>10/05/2023</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM201.88Z.F000.B00.2310052037</string>
		<key>Board-ID</key>
		<string>Mac-AF89B6D9451A490B</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string></string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>iMac20,2</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0xD</string>
		<key>EfiVersion</key>
		<string>2020.41.1.0.0</string>
		<key>ExtendedFirmwareFeatures</key>
		<string>0x00000008FFB3F066</string>
		<key>ExtendedFirmwareFeaturesMask</key>
		<string>0x00000008FFFFFFFF</string>
		<key>Family</key>
		<string>iMac</string>
		<key>FirmwareFeatures</key>
		<string>0xFFB3F066</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFFFFFFFF</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>PlatformFeature</key>
		<string>0x20</string>
		<key>ProductName</key>
		<string>iMac20,2</string>
		<key>SerialNumber</key>
		<string>C02DFEYH046M</string>
		<key>SmUUID</key>
		<string>A339A690-5F15-44FF-B50C-4EFEDA203383</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#BacklightLevel</key>
		<string>0x0501</string>
		<key>#CustomUUID</key>
		<string>511CE201-1000-4000-9999-010203040506</string>
		<key>#NoCaches</key>
		<false/>
		<key>#NvidiaWeb</key>
		<false/>
		<key>CustomUUID</key>
		<string>ABFB262C-75BC-4DFF-B20B-FC6BAC18AD43</string>
		<key>InjectKexts</key>
		<true/>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>